body {
  font-family: "Roboto", sans-serif;
  background-color: #121212; 
  color: #e0e0e0;
  margin: 0;
  padding: 0;
  display: flex; 
  min-height: 100vh;
  background-image: url("latar_belakang.jpg");
  background-size: cover;
  background-position: center;
}

.main-layout {
  display: flex;
  width: 100%;
  padding: 50px 0;
  justify-content: center;
}

.sidebar {
  width: 250px;
  background-color: rgba(33, 33, 33, 0.95); 
  padding: 40px 20px 20px 20px;
  height: 100vh; 
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

.app-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 50px;
  color: #ffffff;
}

.navbar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-menu li {
  margin-bottom: 25px;
}

.navbar-menu a {
  text-decoration: none;
  color: #e0e0e0;
  font-size: 18px;
  display: block;
  padding: 5px 0;
  transition: color 0.3s ease;
}

.navbar-menu a:hover {
  color: #ffd700;
}

.main-content-wrapper {
  margin-left: 250px;
  flex-grow: 1; 
  display: flex;
  justify-content: center;
}

.main-content {
  background-color: rgba(
    33,
    33,
    33,
    0.7
  ); 
  border-radius: 10px;
  padding: 30px;
  width: 100%;
  max-width: 900px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.content-header {
  margin-bottom: 30px;
}

.content-header p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #ffffff;
}

.search-box {
  position: relative;
}

.search-box input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border-radius: 5px;
  border: 1px solid #555;
  background-color: #333;
  color: #e0e0e0;
  font-size: 16px;
  outline: none;
}

.search-box i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
}

.music-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
  padding-top: 20px;
}

.music-card {
  background-color: #555555; 
  border-radius: 8px;
  height: 120px; 
  border: 1px solid #777; 
  transition: transform 0.2s;
}

.music-card:hover {
  transform: translateY(-3px); 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 900px) {
  .music-grid {
    grid-template-columns: repeat(
      2,
      1fr
    ); 
  }
}

@media (max-width: 600px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .main-content-wrapper {
    margin-left: 0;
    padding: 20px;
  }
  .music-grid {
    grid-template-columns: 1fr;
  }
  .main-content {
    max-width: none;
  }
}
